@import 'tailwindcss';

@theme {
  --font-sans: "Manrope Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

.aspect-card {
  aspect-ratio: 2.5 / 3.5;
}
