@import "@fontsource-variable/jetbrains-mono";
@import "@fontsource/libre-caslon-text";
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@source "./**/*.{html,js,svelte,ts}";
@source "../stories/**/*.{html,js,svelte,ts}";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-mono: "JetBrains Mono Variable", monospace;
	--font-serif: "Libre Caslon Text", serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
	font-feature-settings:
		"liga" 1,
		"calt" 1,
		"frac" 1,
		"case" 1,
		"zero" 1;
	font-variation-settings: normal;
	font-optical-sizing: auto;
	@apply bg-white text-neutral-900 transition-all dark:bg-neutral-900 dark:text-neutral-100;
}

table {
	font-feature-settings:
		"tnum" 1,
		"lnum" 1;
}

.aspect-card {
	aspect-ratio: 2.5 / 3.5;
}
